div.c {
    /*border-style: dotted;
    border-color: black;*/
    background: url("https://blaiprat.github.io/jquery.animateSprite/img/scottpilgrim_multiple.png");
    width: 108px;
    height: 140px;
    animation: x2 1.5s steps(8) infinite, y2 3s steps(2) infinite;
  }
  
  @keyframes x2 {
    0% {
      background-position-x: 0px;
    }
    50% {
      background-position-x: -864px;
      /*transform: translatex(508px);*/
    }
    100% {
      background-position-x: 0px;
      transform: translatex(0px);
    }
  }
  
  @keyframes y2 {
    0% {
      background-position-y: 0px;
    }
    50% {
      background-position-y: -280px;
    }
  }

  div#u {
    /*border-style: dotted;
    border-color: black;*/
    background: url("uni2.1.png");
    width: 208px;
    height: 110px;
  animation: walk-east 0.3s steps(9) infinite, forward 5s linear infinite ;
  }
  
  @keyframes walk-east {
   from {background-position: 0px;}
  to { background-position: 1875px;}

  }
  
@keyframes forward{
    0% {
        transform: translateX(-100px);
    }
    100% {
        /*typical computer screen is up till 1200px*/
        transform: translateX(1500px);
    }
}



div#jump {
   
    background: url("jumping.png");
    width: 200px;
    height: 140px;
  animation: jumpup 0.5s steps(4) infinite;
  }
  
 @keyframes jumpup{
   from {background-position: 0px;}
  to {background-position: 800px;}
  }
  

 

div#dragon {
   
  background: url("dra.png");
  width: 100px;
  height: 70px;
animation: walk 0.3s steps(3) infinite, walking 5s linear infinite ;
}

@keyframes walk{
 from {background-position: 0px;}
to {background-position: 300px;}
}

@keyframes walking{
  0% {
      transform: translateX(1500px);
  }
  100% {
      /*typical computer screen is up till 1200px*/
      transform: translateX(-50px);
  }
}