
#myCanvas{
   
   background: url(sky.jpg);
}
   
   
   
   
   
   
   
   
   
    /*background: repeat-x; 
    animation: ani-background linear 2s infinite;
}

@keyframes ani-background{
    from {background-position: 0 0;}
    to {background-position: -1000px 0px;}
}*/